*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #d4c2ff;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #78009cee;
    height: 10vh;
    padding: 0 50px;
    color: white;
    top: 0;
}
.navbar .burger{
    text-shadow: none;
    display: none;
}
.navbar .logo{
    font-family: Girassol;
    font-size: 45px;
    font-weight: 500;
    text-shadow: -2px 0 #ff00d4 , 0 2px #ff00d4 , 2px 0 #ff00d4 , 0 -2px #ff00d4;
}
.navtext ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-shadow: none;
    font-family: Georgia;
    font-size: 30px;
    font-weight: 400;
}
.navtext li{
    padding: 0 10px;
}
.navtext a:link{
    color: cyan;
    text-decoration: none;
}
.navtext a:visited{
    color: cyan;
    text-decoration: none;
}
.navtext a:hover{
    color: blueviolet;
    text-decoration: underline;
}
.info{
    height: 10vh;
    font-family: Merienda;
    font-size: 40px;
    color: purple;
    text-align: center;
    padding-top: 10px;
}
.cards1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding: 0px 100px;
}
.first , .second{
    height: 70vh;
    width: 400px;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}
h1{
    font-family: Newsreader;
    color: #47006a;
}
p{
    font-family: Satisfy;
    font-weight: 600;
    font-size: 18px;
    color: darkviolet;
    padding: 0 10px;
    padding-bottom: 3px;
}
button{
    font-size: 25px;
    font-family: Lora;
    width: 100%;
    height: 40px;
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #78009cee;
    color: blanchedalmond;
    transition: all 200ms ease-in-out;
}
button:hover{
    opacity: 0.8;
}
.price{
    display: none;
}
button:hover .buy{
    display: none;
}
button:hover .price{
    display: block;
    cursor: pointer;
}
.first:hover{
    box-shadow: 2px 2px 5px 3px red;
}
.second{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.second:hover , .second:focus, .second:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.cards2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0px 140px;
}
.third{
    position: relative;
    max-width: 300px;
    height: 300px;
    text-align: center;
    transition: all 200ms ease-in-out;
    margin-bottom: 200px;
}
.third-front , .third-back{
    width: 300px;
    height: 250px;
    transition: 0.5s;
}
.third-front{
    position: relative;
    z-index: 1;
    transform: translateY(125px);
}
.third-front img{
    border: 2px solid black;
    border-radius: 10px;
}
.third:hover .third-front{
    transform: translateY(0);
}
.third-back{
    position: relative;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background-color: pink;
    padding-top: 60px;
    transform: translateY(-125px);
}
.third-back p{
    padding-bottom: 0px;
}
.third:hover .third-back{
    transform: translateY(-30px);
}
.fourth{
    width: 300px;
    height: 450px;
    background-color: transparent;
    perspective: 1000px;
}
.four-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.fourth:hover .four-inner{
    transform: rotateX(180deg);
}
.four-front , .four-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.four-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateX(180deg);
    border: 2px solid black;
}
.fourth button{
    width: 200px;
    border-radius: 10px;
}
@media screen and (max-width:900px){
    .navtext{
        position: absolute;
        z-index: 1;
        top: 10vh;
        right: 0;
        width: 60%;
        background-color: blueviolet;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
        transform: translateX(100%);
    }
    .navtext ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50vh;
    }
    .navbar .logo{
        font-size: 40px;
    }
    .navtext a:hover{
        color: fuchsia;
        text-decoration: underline;
    }
    .navbar.open .navtext{
        transform: translateX(0%);
    }
    .navbar .burger{
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }
    .info{
        font-size: 28px;
        font-weight: 600;
        height: 18vh;
    }
    .products{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .cards1{
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    .first , .second{
        width: 330px;
        margin-bottom: 50px;
    }
    .first img , .second img{
        width: 330px;
        height: 220px;
    }
    .cards2{
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        padding: 0px 10px;
    }
    .third{
        position: relative;
        width: 300px;
        height: 300px;
        text-align: center;
        transition: all 200ms ease-in-out;
        margin-top: 350px;
        margin-bottom: 200px;
        z-index: 1;
    }
    .fourth{
        width: 300px;
        height: 450px;
        perspective: 1000px;
        z-index: 1;
    }
    .four-inner{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .fourth:hover .four-inner{
        transform: rotateY(180deg);
        transition: 0.8s all ease-in-out;
    }
    .four-back{
        width: 300px;
        height: 450px;
        transform: rotateY(180deg);
    }
}